body {
	margin: 0;
	padding: 0;
}
.large-image:hover ~ .controls,
.controls:hover {
	opacity: 1;
}

.large-image{
	background-size: contain !important;
	background-color: black; 
	height: 500px !important;
	width: 100%;
}
.controls{ 
	opacity: 0;
	position: absolute;
	top: 35%;
	transition: all .15s ease-in-out;
	width: 100%;
}
.controls .prev-button,
.controls .next-button {
	background-color: rgba(0,0,0,.4);
	border-radius: 5px;
	cursor: pointer;

	outline: none;

	position: absolute;
	transition: all .15s ease-in-out;

}
.controls .prev-button:hover,
.controls .next-button:hover {
	background-color: rgba(0,0,0,.5);
}
.controls .prev-button {
	left: 10px;
}
.controls .next-button {
	right: 10px;
}
.controls .prev-button.inactive,
.controls .next-button.inactive {
	background-color: rgba(123,123,123,.6);
}
.controls .prev-button.inactive:hover,
.controls .next-button.inactive:hover {
	background-color: rgba(123,123,123,.7);
}
.controls svg {
	fill: #fff;
}
.galprev, .galnext{
	font-size: 60px;
}
.thumbnails {
	cursor: grab;
	cursor: -o-grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	border-top: 2px solid #D4D4D4;
	border-left: 2px solid #D4D4D4;
}
 div.gallery-item{
 		border-right: 2px solid #D4D4D4;
}
